<h1>従業員リスト</h1>
<table class="employees">
  <tr>
    <th style="width:2%">団体番号</th>
    <th style="width:8%">団体名</th>
    <th style="width:2%">従業員数</th>
    <th colspan=4>従業員</th>
    <th style="width:6%">備考欄</th>
  </tr>
  <% @groups.each do |group| %> 
  <tr>
    <td rowspan=3 style="width:2%"><%= group.id %></td>
    <td rowspan=3 style="width:3%"><%= group.name %></td>
    <td rowspan=3 style="width:2%"><%= group.employees.count + 2%></td>
    <td style="width:1%">代</td>
    <td style="width:8%"><%= group.user.name %></td>
    <td style="width:5%"><%= group.user.email %></td>
    <td style="width:5%"><%= group.user.user_detail.tel %></td>
    <td></td>
  </tr>
  <tr>
    <td style="width:1%">副</td>
    <td style="width:8%"><%= group.sub_rep.name %></td>
    <td style="width:5%"><%= group.sub_rep.email %></td>
    <td style="width:5%"><%= group.sub_rep.tel %></td>
    <td></td>
  </tr>
  <tr>
    <td colspan=6 style="text-align:left; padding:1%">
      <% group.employees.each do |employee| %>
        <%= employee.name %>, 
      <% end %>
    </td>
  </tr>
<% end %>
</table>
