<% @catgories.each do |category| %>
  <% if category.exists? %>
    <div class="page-break">
      <h1>使用電力リスト - <%= category.first.group_category.name %></h1>
      <table>
        <tr>
          <th style="width:8%">分類</th>
          <th style="width:4%">団体番号</th>
          <th>団体名</th>
          <th>企画名</th>
          <th>名称</th>
          <th>メーカー/型番</th>
          <th>電力 [w]</th>
          <th>備考欄</th>
        </tr>
        <% category.each do |group| %>
          <% if group.power_orders.exists? %>
              <tr>
                <td rowspan="<%= group.power_orders.count %>"><%= group.group_category.name %></td>
                <td style="width:4%" rowspan="<%= group.power_orders.count %>"><%= group.number %></td>
                <td rowspan="<%= group.power_orders.count %>"><%= group.name %></td>
                <td rowspan="<%= group.power_orders.count %>"><%= group.activity %></td>
              <% group.power_orders.each do |power_order| %>
                <td><%= power_order.item %></td>
                <td><%= power_order.manufacturer %></td>
                <td><%= power_order.power %></td>
                <td></td>
              </tr>
              <% end %>
          <% else %>
            <tr>
              <td><%= group.group_category.name %></td>
              <td><%= group.number %></td>
              <td><%= group.name %></td>
              <td><%= group.activity %></td>
              <td colspan=3>なし</td>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  <% end %>
<% end %>
