<h1>参加団体情報管理表</h1>

<div class="padding-top">
  <h2>参加団体情報</h2>
  <table class="info">
    <tbody>
      <tr>
        <th>識別番号</th>
        <td colspan=2><%= @group.number %></td>
      </tr>
      <tr style="height:60px">
        <th>団体名</th>
        <td colspan=2><%= @group.name %></td>
      </tr>
      <tr>
        <th>分類</th>
        <td colspan=2><%= @group.group_category.name %></td>
      </tr>
      <tr>
        <th rowspan=2>活動時間</th>
        <td><%= @group.fes_year.fes_dates.where(days_num: 1).first.nil? ? nil : @group.fes_year.fes_dates.where(days_num: 1).first.date %>（1日目）</td>
        <td>10:00～17:00</td>
      </tr>
      <tr>
        <td><%= @group.fes_year.fes_dates.where(days_num: 2).first.nil? ? nil : @group.fes_year.fes_dates.where(days_num: 2).first.date %>（2日目）</td>
        <td>10:00～17:00</td>
      </tr>
      <tr>
        <th>場所</th>
        <td colspan=2><%= @group.place %></td>
      </tr>
      <tr>
        <th>使用電力</th>
        <td colspan=2><%= @group.sum_power_orders %> [w]</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="padding-top">
  <h2>貸出物品一覧</h2>
  <table class="items">
    <tr>
      <th>物品名</th>
      <th>借りる場所</th>
      <th>数量</th>
      <th>貸出日</th>
      <th>返却日</th>
      <th>返却チェック</>
    </tr>
    <% @group.assign_rental_items.each do |assign_rental_item| %>
    <tr>
      <td><%= assign_rental_item.rental_item.name %></td>
      <td><%= assign_rental_item.stocker_place.name %></td>
      <td><%= assign_rental_item.num %></td>
      <td><%= @group.fes_year.fes_dates.where(days_num: 0).nil? ? nil : @group.fes_year.fes_dates.where(days_num: 0).first.date %>(準備日)</td>
      <td><%= @group.fes_year.fes_dates.where(days_num: 3).nil? ? nil : @group.fes_year.fes_dates.where(days_num: 3).first.date %>(片付け日)</td>
      <td></td>
    </tr>
    <% end %>
  </table>

  <br>
  <p>
  《注意事項》<br><br>
  ● 物品は借用・返却場所を間違えないようにしてください。<br>
  ● 返却時は本部でチェックを受けてください。<br>
  ● 備品等は絶対に汚さないように使用し、綺麗にしてから返却してください。 
  </p>
</div>
